// COLORS

$secondary-color: rgba(255, 243, 224, 0.5);
$secondary-light: #ffffff;
$secondary-dark: #c9c1b8;
$primary-color: #dbd5cc;
$primary-light: #e1d0db;
$primary-dark: #e1d0db;
$bg: rgba(190, 125, 122, 0.5);
$font: black;

//FONT


// STYLE
